@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition-collapse {
    transition: height 350ms ease;
  }

  .animation-delay-1000 {
    animation-delay: 1000ms;
  }
  .animation-delay-2000 {
    animation-delay: 2000ms;
  }
  .animation-delay-3000 {
    animation-delay: 3000ms;
  }
}

/* Swiper */
.swiper-paginations-project,
.swiper-paginations-testimonial {
  width: max-content !important;
}

.swiper-paginations-project .swiper-pagination-bullet,
.swiper-paginations-testimonial .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: #ede9ef;
}

.swiper-paginations-project .swiper-pagination-bullet-active,
.swiper-paginations-testimonial .swiper-pagination-bullet-active {
  background: #ad9bb3;
}
